.drawer-wrapper {
	position: fixed;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10rem 3rem;
	cursor: grab;
	&:active {
		cursor: grabbing;
	}
}

.drawer-container {
	font-size: clamp(0.7rem, 2.5vw, 1.8rem);
	--side-color: #a1babb;
	--side-color-tint: #b6ccbf;
	--wall-color: #bdcdd1;
	--wall-color-tint: #d0ded9;
	--shadow-color: #555263;
	--border-color: #434e50;
	--box-count: 2;
	--top-height: 1em;
	--width: 10em;
	--height-box: 4em;
	--front-height: calc(var(--height-box) + 2em);
	--box-offset: 0.5em;
	--bottom-padding: 2em;
	--height: calc(var(--bottom-padding) + (var(--front-height) * var(--box-count)));
	--border-size: 0.1em;
	position: relative;
	/* perspective: 100em;
    perspective-origin: bottom; */
	transform: rotateX(-20deg) rotateY(5deg);
	transform-style: preserve-3d;
	width: var(--width);
	height: var(--height);
	user-select: none;
    transition: transform 0.15s ease;
}

.pop-in {
	animation: pop-in 2s ease-out;
}

@keyframes pop-in {
	from {
		transform: translateY(100%) scale(0);
	}

	to {
		transform: translateY(0) scale(1);
	}
}

.drawer-wall {
	position: absolute;
	width: var(--width);
	height: var(--height);
	/* isolation: isolate; */
	/* perspective: 30em; */

	transform-style: preserve-3d;
	&::before {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		content: '';
		position: absolute;
		inset: 0;
		transform: rotateY(0deg);
		border: var(--border-size) solid var(--border-color);
		background-color: var(--wall-color);
	}
	&::after {
		/* transform-style: preserve-3d; */
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		content: '';
		position: absolute;
		inset: 0;
		background-color: var(--shadow-color);
		border: var(--border-size) solid var(--border-color);
		transform: rotateY(180deg);
	}
	& .wall {
		position: absolute;
		inset: 0;
		/* transform-style: preserve-3d; */
	}
}

.left {
	transform: rotateY(-90deg);
	right: calc(var(--width) / 2);
}

.right {
	transform: rotateY(90deg);
	left: calc(var(--width) / 2);
}

.front {
	transform: translateZ(calc(var(--width) / 2));
	background: none !important;
	border: none;

	&::before,
	&::after {
		content: none;
	}

	& .front-left {
		position: absolute;
		height: var(--height);
		width: var(--box-offset);
		background-color: var(--wall-color-tint);
		border: var(--border-size) solid var(--border-color);
		border-right: none;
		left: 0;
		top: 0;
	}
	& .front-right {
		position: absolute;
		height: var(--height);
		width: var(--box-offset);
		background-color: var(--wall-color-tint);
		border: var(--border-size) solid var(--border-color);
		border-left: none;
		right: 0;
		top: 0;
	}
	& .front-top {
		position: absolute;
		height: var(--box-offset);
		width: calc(var(--width) - var(--box-offset) * 2);
		background-color: var(--wall-color-tint);
		border-top: var(--border-size) solid var(--border-color);
		/* border-left: none; */
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
	& .front-bottom {
		position: absolute;
		height: calc(var(--bottom-padding) + var(--box-offset) / 2);
		width: calc(var(--width) - var(--box-offset) * 2);
		background-color: var(--wall-color-tint);
		border-bottom: var(--border-size) solid var(--border-color);
		/* border-left: none; */
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
	}
}

.back {
	transform: translateZ(calc(var(--width) / -2)) rotateY(180deg);
	&::before {
		background-color: var(--wall-color-tint);
	}
}

.drawer-top {
	--top-width: calc(var(--width) + 1em);
	--translate: translateZ(calc(((var(--top-width) / 2) + var(--top-height)) * -1));
	position: absolute;
	/* width: var(--top-width);
    height: var(--top-width); */
	transform-style: preserve-3d;
	/* background-color: red;
    border: var(--border-size) solid var(--border-color); */
	/* left: 0; */

	/* top: calc((var(--top-height) + (var(--height) / 2)) * -1); */
	/* bottom: calc((var(--height) / 2)); */
	/* top: calc(((var(--top-width) / 2) + var(--top-height)) * -1); */
	transform: translateX(-0.5em) translateY(calc(var(--top-height) * -1));

	& .wall {
		width: var(--top-width);
		height: var(--top-height);
		background-color: var(--side-color);
		border: var(--border-size) solid var(--border-color);
		position: absolute;
		/* transform:  translateZ(calc(((var(--top-width) / 2) + var(--top-height)) * -1)); */
	}

	& .left-top {
		transform: rotateY(-90deg);
		background-color: var(--side-color-tint);

		left: calc(var(--top-width) / -2);
	}

	& .right-top {
		transform: rotateY(90deg);
		background-color: var(--side-color-tint);

		left: calc(var(--top-width) / 2);
	}

	& .front-top {
		transform: translateZ(calc(var(--top-width) / 2));
		top: 0;
		/* left: 0; */
		/* left: calc(var(--top-width) / -2); */
	}

	& .back-top {
		transform: translateZ(calc(var(--top-width) / -2)) rotateY(180deg);

		top: 0;
		/* left: 0;
        left: calc(var(--top-width) / 2); */
	}

	& .top-top {
		width: var(--top-width);
		height: var(--top-width);
		background-color: var(--wall-color);

		transform: rotateX(90deg) translateZ(calc((var(--top-width) / 2)));
		top: 0;

		/* right: 0 */
	}
}

.box-wrapper {
	--width-box: calc(var(--width) - 2 * var(--box-offset));
	--front-thickness: calc(var(--box-offset) * 2);
	/* position: absolute; */
	width: calc(var(--width) - 2 * var(--box-offset));
	height: var(--height-box);
	position: absolute;
	transform-style: preserve-3d;
	top: calc(var(--front-height) / 2 + 1em - var(--border-size) * 2);
	left: 50%;
	&:nth-child(1) {
		/* transform: translate3d(-50%, calc(var(--top-height) + 50%), calc(var(--front-thickness) / 2)); */
		transform: translate3d(-50%, -50%, calc(var(--front-thickness) / 2));
	}
	&:nth-child(2) {
		transform: translate3d(
			-50%,
			calc(var(--front-height) - 50%),
			calc(var(--front-thickness) / 2)
		);
	}

	&:nth-child(3) {
		transform: translate3d(
			-50%,
			calc(var(--front-height) * 2 - 50%),
			calc(var(--front-thickness) / 2)
		);
	}

	&:nth-child(4) {
		transform: translate3d(
			-50%,
			calc(var(--front-height) * 3 - 50%),
			calc(var(--front-thickness) / 2)
		);
	}
}

.drawer-box {
	/* --width: 10em; */
	cursor: pointer;
	width: calc(var(--width) - 2 * var(--box-offset));
	height: var(--height-box);
	position: absolute;
	transform-style: preserve-3d;
}

.opened,
.closed {
	transition: transform 0.5s cubic-bezier(0.59, 0.05, 0.21, 0.98);
}

.opened {
	transform: translateZ(calc(var(--width) - 3 * var(--box-offset)));
}

.closed {
	transform: translateZ(0);
}

.wall-box {
	position: absolute;
	background-color: var(--wall-color);
	border: var(--border-size) solid var(--border-color);
	width: var(--width-box);
	height: var(--height-box);
	/* top: 0; */
}

.left-box {
	transform: rotateY(-90deg);
	right: calc(var(--width-box) / 2);
}

.right-box {
	transform: rotateY(90deg);
	left: calc(var(--width-box) / 2);
}

.front-box {
	--front-width: var(--width);
	width: var(--front-width);
	height: var(--front-height);
	transform-style: preserve-3d;
	position: absolute;
	border: var(--border-size) solid var(--border-color);
	background-color: var(--wall-color-tint);

	/* translate */
	transform: translateZ(calc(var(--width-box) / 2))
		translate(calc(var(--front-thickness) / -2), -1.5em);

	& .front-front {
		--handle-height: 0.5em;
		--handle-width: 3em;
		--_handle-color: #b4b4d7;
		--_handle-border-color: #3a435f;
		transform-style: preserve-3d;
		border: var(--border-size) solid var(--border-color);

		position: absolute;
		width: var(--front-width);
		height: var(--front-height);
		/* inset: 0; */
		top: calc(var(--border-size) * -1);
		left: calc(var(--border-size) * -1);
		background-color: var(--wall-color);
		/* border: var(--border-size) solid var(--border-color); */
		/* top: calc(var(--front-thickness) / -2)\;  */
		transform: translateZ(var(--front-thickness));

		& .handle-front {
			position: absolute;
			width: var(--handle-width);
			height: var(--handle-height);
			/* width: 3em;
            height: 5em; */
			background-color: var(--_handle-color);
			top: calc(var(--front-height) / 3);
			left: calc(var(--front-width) / 2);

			transform: translateZ(var(--handle-height)) translate(-50%, -50%);
			/* transform: translateZ(4em); */
			border: var(--border-size) solid var(--_handle-border-color);
		}
		& .handle-left {
			position: absolute;
			width: var(--handle-height);
			height: var(--handle-height);
			/* width: 3em;
            height: 5em; */
			background-color: var(--_handle-color);

			top: calc(var(--front-height) / 3);
			left: calc(var(--front-width) / 2);

			transform: translateZ(calc(var(--handle-height) / 2))
				translate(calc(-50% + var(--handle-width) / -2), -50%) rotateY(90deg);
			/* transform: translateZ(4em); */
			border: var(--border-size) solid var(--_handle-border-color);
		}
		& .handle-right {
			position: absolute;
			width: var(--handle-height);
			height: var(--handle-height);
			/* width: 3em;
            height: 5em; */
			background-color: var(--_handle-color);

			top: calc(var(--front-height) / 3);
			left: calc(var(--front-width) / 2);
			border: var(--border-size) solid var(--_handle-border-color);

			transform: translateZ(calc(var(--handle-height) / 2))
				translate(calc(-50% + var(--handle-width) / 2), -50%) rotateY(-90deg);
			/* transform: translateZ(4em); */
		}
		& .handle-top {
			position: absolute;
			width: var(--handle-width);
			height: var(--handle-height);
			/* width: 3em;
            height: 5em; */
			background-color: var(--_handle-color);
			border: var(--border-size) solid var(--_handle-border-color);

			top: calc(var(--front-height) / 3);
			left: calc(var(--front-width) / 2);

			transform: translateZ(calc(var(--handle-height) / 2)) translate(-50%, -100%)
				rotateX(90deg);
			/* transform: translateZ(4em); */
		}

		& .sign {
			position: absolute;
			padding: 0 0.5em;
			display: grid;
			place-items: center;
			line-height: 1em;
			text-align: left;
			/* width: 3em;
            height: 5em; */
			background-color: rgb(221, 232, 234);
			top: calc(var(--front-height) / 3 * 2);
			left: calc(var(--front-width) / 2);
			color: rgb(27, 26, 26);

			transform: translate(-50%, -50%);
			/* transform: translateZ(4em); */
			border: var(--border-size) solid rgb(27, 26, 26);

			& p {
				margin: 0;
				font-size: 0.8em;
			}
		}
	}
	& .left-front {
		position: absolute;
		width: var(--front-thickness);
		height: var(--front-height);
		background-color: var(--side-color);
		border: var(--border-size) solid var(--border-color);
		transform: rotateY(-90deg) translateX(calc(var(--front-thickness) / 2));

		left: calc((var(--front-thickness) / -2) - var(--border-size));
		/* left: calc(var(--border-size) * -1); */
		/* bottom: calc(var(--front-height) / 2 - calc(var(--front-thickness) / 2)); */
		/* bottom: calc((var(--height) + var(--front-thickness)) / 2) */
		/* translate3d(calc(var(--front-height) / -2), calc(var(--front-thickness) / 2), calc(var(--front-height) / 2)) */
		top: calc(var(--border-size) * -1);
		/* right: 5em; */
		/* translate3d(calc(var(--front-thickness) / -2)\, calc((var(--height) + var(--front-thickness)) * -1), calc(var(--front-thickness) / -2)\) */
	}

	& .right-front {
		position: absolute;
		width: var(--front-thickness);
		height: var(--front-height);
		background-color: var(--side-color);
		transform: rotateY(90deg) translateX(calc(var(--front-thickness) / -2));
		border: var(--border-size) solid var(--border-color);

		right: calc((var(--front-thickness) / -2) - var(--border-size) / 2);
		/* left: calc(var(--border-size) * -1); */
		/* bottom: calc(var(--front-height) / 2 - calc(var(--front-thickness) / 2)); */
		/* bottom: calc((var(--height) + var(--front-thickness)) / 2) */
		/* translate3d(calc(var(--front-height) / -2), calc(var(--front-thickness) / 2), calc(var(--front-height) / 2)) */
		top: calc(var(--border-size) * -1);
		/* right: 5em; */
		/* translate3d(calc(var(--front-thickness) / -2)\, calc((var(--height) + var(--front-thickness)) * -1), calc(var(--front-thickness) / -2)\) */
	}

	.top-front {
		position: absolute;
		width: var(--front-width);
		height: var(--front-thickness);
		background-color: var(--side-color-tint);
		border: var(--border-size) solid var(--border-color);
		left: calc(var(--border-size) * -1);
		/* top: 0; */
		transform: rotateX(90deg) translateZ(calc(var(--front-thickness) / 2 + var(--border-size)))
			translateY(calc(var(--front-thickness) / 2));
	}
}

.back-box {
	transform: translateZ(calc(var(--width-box) / -2)) rotateY(180deg);
}

.bottom-box {
	width: var(--width-box);
	height: var(--width-box);
	background-color: var(--side-color-tint);
	/* transform: rotateX(90deg) translateY(calc((var(--height) / 2))); */
	transform-style: preserve-3d;
	transform: rotateX(-90deg) rotateZ(90deg);
	top: -0.5em;
	border: var(--border-size) solid var(--border-color);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(1em, 1fr));
	/* place-content: start; */
	padding: 0.5em;

	& .folder {
		transform-style: preserve-3d;
		position: relative;
		--_degrees: 85deg;
		--_folder-height: calc(var(--height-box) + 0.5em);
		--_formula: calc(cos(85deg) * var(--_folder-height) / 2);
		--_formula-neg: calc(cos(85deg) * var(--_folder-height) / -2);

		& .folder-back,
		.folder-front {
			position: absolute;
			width: var(--_folder-height);
			height: 100%;
			background-color: rgb(216, 250, 66);
			border: var(--border-size) solid rgb(82, 94, 24);
		}
		& .folder-back {
			transform: translateZ(calc(var(--_folder-height) / -2)) translateX(var(--_formula))
				rotateY(85deg);
			&::before,
			&::after {
				position: absolute;
				content: '';
				left: 100%;
				top: 0.5em;
				content: '';
				width: 0.2em;
				height: 0.7em;
				background-color: rgb(216, 250, 66);
				border-right: var(--border-size) solid rgb(82, 94, 24);
				border-left: var(--border-size) solid rgb(216, 250, 66);
			}
			&::before {
				transform: skewY(30deg);
				border-top: var(--border-size) solid rgb(82, 94, 24);
			}
			&::after {
				transform: skewY(-30deg) translateY(50%);
				border-bottom: var(--border-size) solid rgb(82, 94, 24);
			}
		}
		& .folder-front {
			transform: translateZ(calc(var(--_folder-height) / -2)) translateX(var(--_formula-neg))
				rotateY(95deg);
		}

		& .file-wrapper {
			position: absolute;
			width: calc(var(--width-box) - 1.5em);
			height: var(--_folder-height);
			/* inset: 0; */
			transform: rotateX(90deg) rotateY(-90deg)
				translate3d(calc(-50% + 2em + var(--border-size)), -53%, 1.5em);
			transition: transform 0.5s ease;
			transform-style: preserve-3d;

			& .file {
				position: relative;
				width: 100%;
				height: var(--_folder-height);
				color: black;
				background-color: rgb(232, 251, 248);
				transform-style: preserve-3d;

				&::before {
					content: '';
					background-color: rgb(184, 198, 196);
					position: absolute;
					inset: 0;
					transform: rotateX(0.5deg)
						translateZ(calc((var(--_folder-height) * (sin(88) / sin(2))) / -2));
				}

				&::after {
					content: '';
					background-color: rgb(169, 178, 176);
					position: absolute;
					inset: 0;
					transform: rotateX(3deg)
						translateZ(-0.15em);
				}

				&.clicked {
					animation: fly 1s forwards;
				}

				&.not-clicked {
					animation: land 1s forwards;
				}

				& img {
					display: block;
					width: 60%;
					object-fit: cover;
					margin-inline: auto;
				}

				& p {
					margin: 0;
				}
			}
		}

		&:hover .file-wrapper {
			transform: rotateX(90deg) rotateY(-90deg)
				translate3d(calc(-50% + 2em + var(--border-size)), -153%, 1.5em);
		}
	}
}


@keyframes fly {
	from {
		transform: translateY(0);
	}
	20% {
		transform: translateY(20%);
	}
	25% {
		transform: translateY(20%);
	}

	to {
		transform: translateY(-700%);
	}
}


@keyframes land {
	to {
		transform: translateY(0);
	}
	80% {
		transform: translateY(20%);
	}
	75% {
		transform: translateY(20%);
	}

	from {
		transform: translateY(-700%);
	}
}

.file-open {
	display: grid;
	justify-items: center;
	position: relative;
	padding: 2rem;
	& .file-contents {
		width: min(100%, 40rem);
		min-height: calc(100svh - 5rem);
		transform: translateY(-200%);
		position: relative;
		padding: 2rem 1rem;
		animation: file-down 2s forwards ease-out;
		background-color: rgb(232, 251, 248);
		border: 0.1rem solid rgb(81, 87, 86);
		isolation: isolate;
		z-index: 5;
		&.up {
			animation: file-up 2s forwards ease-out;
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgb(232, 251, 248);
			/* background-color: green; */

			/* transform: rotate(5deg); */
			z-index: -1;
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgb(169, 178, 176);
			/* background-color: red; */
			transform: rotate(1deg);
			z-index: -2;
		}

		
		& .paper {
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgb(151, 160, 158);
			/* background-color: red; */
			transform: rotate(2deg);

			z-index: -3;
			&:nth-child(2) {
				background-color: rgb(116, 123, 121);
			/* background-color: red; */
			transform: rotate(3deg);

			z-index: -4;
			}
		}
		& img {
			width: 100%;
			object-fit: cover;
			display: block;
		}

		& p {
			text-align: left;
		}

		& .images {
			display: grid;
			gap: 1rem;
		}
	}
	& .background {
		position: absolute;
		inset: 0;
		z-index: 0;
		background-color: rgba(47, 52, 51, 0.5);
		animation: fade-in 1s forwards;
		&.out {
			animation: fade-out 1s forwards;
		}
	}
}

@keyframes file-down {
	from {
		transform: translateY(-200%);
	}

	to {
		transform: translateY(0);
	}
}


@keyframes file-up {
	to {
		transform: translateY(-200%);
	}

	from {
		transform: translateY(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}

	from {
		opacity: 1;
	}
}